@mixin center_flex($par) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $par;
    color: red;
}

@mixin m-p($m, $p) {
    margin: $m;
    padding: $p;
}

* {
    box-sizing: border-box;
}

body {
    @include center_flex(column);
    @include m-p(0, 0);
    width: 100vw;
    min-height: 100vh;

    .body {
        @include center_flex(column);

        .canvas {
            @include center_flex(row);
            height: 500px;
            @include m-p(5px, 5px);

            .bar {
                @include m-p(1px, 1px);
                width: 0.4vw;
                background-color: aqua;
                border: solid black 0.3px;
                border-radius: 10%;
            }
        }

        button {
            cursor: pointer;
            @include m-p(8px, 8px);
            color: black;
            background-color: bisque;
            border: none;
            border-radius: 10%;
        }

        .btn-grp {
            @include center_flex(row);
        }

        .sz-tm {
            input {
                border-radius: 5%;
                @include m-p(5px, 10px)
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            input[type=number] {
                -moz-appearance: textfield;
            }
        }

    }
}